body {
    background-color: rgb(1, 1, 49);
    font-family: monospace;
    color:rgb(126, 166, 226);
    text-align: center;
}
#submitBtn {
    background: rgb(255, 127, 76)
}

p {
    font-size: smaller;
    padding-left: 150px;
    padding-right: 150px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}