body {
    background-color: rgb(1, 1, 49);
    font-family: monospace;
    color:rgb(126, 166, 226);
    text-align: center;
}

body {
    background-color: rgb(1, 1, 49);
    font-family: monospace;
    color:rgb(126, 166, 226);
    text-align: center;
}
#submitBtn {
    background: rgb(255, 127, 76);
    border-radius: 5px;
    padding: 7px; 
}

p {
    font-size: smaller;
    padding-left: 150px;
    padding-right: 150px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
.taskDone {
    background:rgb(136, 224, 136);
    border-radius: 5px;
    padding: 7px;
}

.toggleTask {
    background: rgb(255, 127, 76);
    border-radius: 5px;
    padding: 7px;
}
.deleteBtn{
    background: rgb(165, 43, 43);
    border-radius: 5px;
    padding: 7px;
}
